absl-py==1.4.0
ai-edge-litert==1.3.0
astunparse==1.6.3
attrs
bleach
cachetools
certifi
charset-normalizer
colorama
cycler
Cython
dm-tree==0.1.9
einops
etils
filelock
flatbuffers
fsspec
gast==0.6.0
gin-config==0.5.0
google-api-core==2.25.0
google-api-python-client
google-auth
google-auth-httplib2
google-pasta==0.2.0
googleapis-common-protos
grpcio
h5py
httplib2
idna
imageio
immutabledict
ipykernel
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kaggle
kiwisolver
libclang
Markdown
matplotlib
matplotlib-inline
ml_dtypes
mpmath
namex
nest-asyncio
networkx
numpy==1.26.4
oauth2client
opencv-python
opt_einsum
optree
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
portalocker
promise
prompt_toolkit
proto-plus
protobuf>=3.20,<4.22  # ✅ Fixed version range
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycocotools
Pygments
pyparsing
python-dateutil
python-slugify
pytz
PyYAML
pyzmq
regex
requests
rsa
sacrebleu
scikit-learn
scipy
seaborn
sentencepiece
seqeval
setuptools
simple-parsing
six
stack-data
sympy
tabulate
tensorboard==2.19.0
tensorboard-data-server
tensorflow==2.19.0
tensorflow-datasets==4.9.9
tensorflow-hub==0.16.1
tensorflow-io==0.37.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata
tensorflow-model-optimization
tensorflow-text==2.19.0
termcolor
text-unidecode
tf-models-official==2.19.1
tf-slim
tf_keras==2.19.0
threadpoolctl
toml
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
ultralytics
uritemplate
urllib3
wcwidth
webencodings
Werkzeug
wheel
wrapt
zipp